name: Infrastructure Orchestrator

on:
  workflow_call:
    inputs:
      capabilities: { required: true, type: string }
      wait-for-completion: { required: true, type: boolean}
      timeout: { required: true , type: number}

jobs:
  setup:
    uses: AYTECOL/devops-toolkit-central-templates/.github/workflows/utils-read-config-workflow.yml@main

  deploy-infra:
    needs: setup
    uses: AYTECOL/devops-toolkit-central-templates/.github/workflows/deploy-cloudformation-workflow.yml@main
    with:
      region: "${{ needs.setup.outputs.region }}"
      env: "${{ (github.event_name == 'workflow_dispatch' && inputs.environment) || needs.setup.outputs.target_env }}"
      template-file: "${{ needs.setup.outputs.template_file_infra }}"
      parameters-file: "infrastructure/params/${{ (github.event_name == 'workflow_dispatch' && inputs.environment) || needs.setup.outputs.target_env }}.json"
      stack-name: "${{ needs.setup.outputs.stack }}"
      capabilities: ${{ inputs.capabilities }}
      timeout: ${{ inputs.timeout }} # 10 minutos
      wait-for-completion: ${{ inputs.wait-for-completion }}
    secrets: inherit
